@import "normalize";
@import "compass/css3";

body {
  font-family: 'Helvetica Neue', 'Lucida Grande', Arial;
  background: url('../images/metall.jpg');
  background-repeat: repeat; 
}

#container {
  width: 80em;
  margin: 4em auto;
  padding: 1em;
  background-color: #ccc;
  @include border-radius(35px, 30px);
  @include single-box-shadow(#444, 0, 0, 10px, 10px, false);
}